<nav class="navbar">
    <div class="logo">
      <a href="#">
        <img alt="Logo" src="logo2.png" />
      </a>
    </div>

    <ul class="nav-links">
      <li><a routerLink="home" class="active">Home</a></li>
      <li><a routerLink="products">Produtos</a></li>
      <li><a href="carrinho.html">Carrinho</a></li>
      <div class="linha"></div>
      <div class="menuContainer">
        <ng-icon name="ionPersonOutline" class="iconUser"></ng-icon>
        <div class="menuLogin">
          <span class="menuMsg">Bem Vindo</span>
          <p class="ouText"><a href="login.html" class="menuLink">Entre</a> ou <a href="registro.html" class="menuLink">Cadastre-se</a></p>
        </div>
      </div>
    </ul>
  </nav>
