<div class="containerCards">
    <div *ngFor="let product of products" class="card">
        <img [src]="product.image" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p class="product-price">R$ {{product.price}}</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
        </div>
    </div>
    <div *ngFor="let product of products" class="card">
        <img [src]="product.image" class="card-img-top" alt="Imagem do Produto">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="product-price">R$ {{product.price}}</p>
            <a href="" class="btn btn-primary buy-button">Compre Já</a>
            
        </div>
 