<section class="reg">
  <div class="regContainer">
    <div class="regBox">
      <h2>Cadastro De Usuario</h2>
      <br />
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-row">
          <div class="form-group">
            <label for="name">Razão Social</label>
            <input
              type="text"
              id="RazaoSocial"
              name="RazaoSocial"
              placeholder="Ex: João da Silva / Empresa LTDA"
              [(ngModel)]="user.razaoSocial"
            />
          </div>
          <div class="form-group">
            <label for="name">Nome Fantasia</label>
            <input
              type="text"
              id="NomeFantasia"
              name="NomeFantasia"
              placeholder="Ex: João da Silva / Empresa LTDA"
              [(ngModel)]="user.nomeFantasia"
            />
          </div>

          <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <input
              type="text"
              id="cnpj"
              name="cnpj"
              [(ngModel)]="user.cnpj"
              placeholder="Ex: 12.345.678/0001-99"
              required
            />
          </div>

          <div class="form-group">
            <label for="estadual"> Inscrição Estadual</label>
            <input
              type="number"
              id="estadual"
              name="estadual"
              [(ngModel)]="user.estadual"
              placeholder="123.456.789.123"
            />
          </div>

          <div class="form-group">
            <label for="ccm"> Inscrição CCM</label>
            <input
              type="number"
              id="ccm"
              name="ccm"
              [(ngModel)]="user.ccm"
              placeholder=""
            />
          </div>

          <div class="form-group">
            <label for="codigo"> Codigo Contabil </label>
            <input
              type="number"
              id="codigo"
              name="codigo"
              [(ngModel)]="user.codigo"
              placeholder="1234"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="user.email"
              placeholder="Ex: exemplo@dominio.com"
            />
          </div>

          <div class="form-group">
            <label for="password">Senha</label>
            <input
              id="password"
              name="password"
              type="password"
              minlength="6"
              [(ngModel)]="user.password"
              required
              placeholder="Digite uma senha"
            />
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirme sua Senha</label>
            <input
              id="confirmPassword"
              name="confirmPassword"
              type="password"
              [(ngModel)]="user.confirmPassword"
              minlength="6"
              required
              placeholder="Confirme sua senha"
            />
          </div>
        </div>

        <div class="regContainer">
          <h2>Contato</h2>
          <div class="regbox">
            <div class="form-row">
              <div class="form-group">
                <label for="name">Nome Completo</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  [(ngModel)]="user.name"
                />
              </div>
              <div class="form-group">
                <label for="tel"> Telefone de Contato</label>
                <input type="tel" name="tel" id="tel" [(ngModel)]="user.tel" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  [(ngModel)]="user.email"
                  placeholder="exemplo.exemplo@gmail.com"
                />
              </div>

              <div class="form-group">
                <label for="cargo">Cargo</label>
                <input type="text" name="cargo" id="cargo" />
              </div>
              <div class="form-group">
                <label for="area">Area</label>
                <input type="text" name="area" id="area" [(ngModel)]="user.area"/>
              </div>
            </div>
          </div>
        </div>
        <div class="regContainer">
          <h2>Cadastro De Endereço Para Emissão</h2>
          <div class="regbox">
            <div class="form-row">
              <div class="form-group">
                <label for="cepEmissao">CEP</label>
                <input
                  type="number"
                  name="cepEmissao"
                  id="cepEmissao"
                  [(ngModel)]="user.cepEmissao"
                  placeholder="12345-678"
                  (blur)="buscarEndereco($event)"
                />
              </div>

              <div class="form-group">
                <label for="logradouroEmissao">Logradouro</label>
                <input
                  type="text"
                  name="logradouroEmissao"
                  id="logradouroEmissao"
                  [(ngModel)]="user.logradouroEmissao"
                  placeholder="Logradouro"
                />
              </div>

              <div class="form-group">
                <label for="numero">Numero</label>
                <input
                  type="number"
                  id="numeroEmissao"
                  name="numeroEmissao"
                  [(ngModel)]="user.numeroEmissao"
                  placeholder="Número"
                />
              </div>
              <div class="form-group">
                <label for="complemento">Complemento</label>
                <input
                  type="text"
                  id="complementoEmissao"
                  name="complementoEmissao"
                  [(ngModel)]="user.complementoEmissao"
                  placeholder="Complemento"
                />
              </div>

              <div class="form-group">
                <label for="bairroEmissao">Bairro</label>
                <input
                  type="text"
                  id="bairroEmissao"
                  name="bairroEmissao"
                  [(ngModel)]="user.bairroEmissao"
                  placeholder="Bairro"
                />
              </div>
            </div>
          </div>
        </div>

        <section class="regContainer">
          <h2>Cadastro De Endereço Para Entrega</h2>
          <div class="regbox">
            <div class="form-row">
              <div class="form-group">
                <label for="cepEntrega">CEP</label>
                <input
                  type="number"
                  name="cepEntrega"
                  id="cepEntrega"
                  [(ngModel)]="user.cepEntrega"
                  placeholder="12345-678"
                  (blur)="buscarEnderecoEntrega($event)"
                />
              </div>

              <div class="form-group">
                <label for="logradouroEntrega">Logradouro</label>
                <input
                  type="text"
                  name="logradouroEntrega"
                  id="logradouroEntrega"
                  [(ngModel)]="user.logradouroEntrega"
                  placeholder="Logradouro"
                />
              </div>

              <div class="form-group">
                <label for="numero">Número</label>
                <input
                  type="number"
                  id="numeroEntrega"
                  name="numeroEntrega"
                  [(ngModel)]="user.numeroEntrega"
                  placeholder="Número"
                />
              </div>

              <div class="form-group">
                <label for="complemento">Complemento</label>
                <input
                  type="text"
                  id="complementoEntrega"
                  name="complementoEntrega"
                  [(ngModel)]="user.complementoEntrega"
                  placeholder="Complemento"
                />
              </div>

              <div class="form-group">
                <label for="bairroEntrega">Bairro</label>
                <input
                  type="text"
                  id="bairroEntrega"
                  name="bairroEntrega"
                  [(ngModel)]="user.bairroEntrega"
                  placeholder="Endereço de Entrega"
                />
              </div>
            </div>
          </div>
        </section>
        <div class="form-group">
          <button type="submit" class="btn">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</section>
